<html>
    <header>
        <title>Senha incorreta</title>
        <script>
            confirm("Senha incorreta!")
            window.location.replace("/room/<%= roomId%>")
        </script>
    </header>
</html>